<main>
   <h1>About Us</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a suscipit libero, vel fermentum urna. Sed et pulvinar massa, non sagittis sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris id facilisis quam. Maecenas ut malesuada augue. Suspendisse blandit velit ultricies, egestas tellus id, pharetra dui. Aliquam cursus eu justo id accumsan. Suspendisse laoreet lectus sapien, id porttitor diam egestas id. Etiam suscipit sodales lobortis.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis a suscipit libero, vel fermentum urna. Sed et pulvinar massa, non sagittis sapien. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris id facilisis quam. Maecenas ut malesuada augue. Suspendisse blandit velit ultricies, egestas tellus id, pharetra dui. Aliquam cursus eu justo id accumsan. Suspendisse laoreet lectus sapien, id porttitor diam egestas id. Etiam suscipit sodales lobortis.</p>
</main>

<router-outlet></router-outlet>