@import 'variables';

.site-container {
   min-height: 100%;
}

.mat-sidenav {
   min-width: 15rem;
}

.mat-drawer-content {
   min-height: 100vh;
}

main {
   // min-height: 100%;
   border: 5px solid $primaryColor;
   padding: 1rem;
}

router-outlet ~ * {
   position: absolute;
   // height: 100%;
   // width: 100%;
 }