<mat-drawer-container class="example-container" autosize>

   <mat-drawer #drawer class="example-sidenav" mode="side">

      <app-navbar></app-navbar>

      <!-- <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
         Toggle extra text
      </button> -->
   </mat-drawer>

   <button mat-icon-button aria-label="Toggle navigation" (click)="drawer.toggle()">
      <mat-icon>menu</mat-icon>
   </button>

   <router-outlet></router-outlet>
 
 </mat-drawer-container>
